body{
    background-image:url(images/shop.jpg);

}

#container{
   background-color: #A93542;
    height: 800px;
    width: 400px;
    margin-top: 90px;
    margin-left: 480px;
    padding-top: 10px;
    border: 2px solid #ff7b86;
}
h1{
    font-family:futura;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin-top: 70px;

}

form{
    display: inline-block;
    margin-top: 50px;
}

#btn {
    display: inline-block;
    height:20px;
    width:30px;
    background-color:#fff;
    font-family: 'Lora', serif;
    font-weight: 200;
    color:#A93542;
    text-align:center;
    margin-top:2px;

}

.ShoppingCart {
    display: block;
    font-family: 'Lora', serif;
    font-weight:300;
    color:#fff;
    margin-left: 150px;


}

.list {
      font-family: 'Lora', serif;
      color:#fff;
}

input{
   margin-right: 10px;
    padding-top: 5px;
}

.letter{
   margin-left: 90px;
}

input.letter{
    margin-bottom: 40px;
}

hr{
  width: 50%;
    margin-top: -10px;
}

#clear-list{
    margin-left: 130px;

}
